<!-- 数学公式 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      inlineMath: [['$','$']]
    }
  });
</script>

<!-- Scroll目录 -->
<script src="https://unpkg.com/scrollnav@3.0.1/dist/scrollnav.min.umd.js"></script>

<script>
    const ct = document.querySelector('#main_content_wrap');  //".post-content"指向文章内容所在的div，需根据实际情况修改
    scrollnav.init(ct, { 
        debug: false,
        easingStyle: 'linear',
        //section为一级目录，subsection为二级目录
        //以下两行意为h3为一级目录，h4为二级目录（个人只需要一级目录，所以注释了二级目录）
        //sections: ($('.main_content > h1').length>0) ? 'h3' : 'h4',  
        //subSections: ($('.post-content > h1').length>0) ? 'h4' : 'h5',
        sections: 'h3',
        subSections: 'h4'
    });
</script>
