---
---

@import "{{ site.theme }}";
.scroll-nav__list, .scroll-nav__sub-list {
  margin: 0;
  padding-left: 1.4em;
  list-style-type: none;
  line-height: 20px;
  
  position:fixed;
  left: 30px;
  top: 100px;
}


.scroll-nav__item {
  margin-bottom: 5px;
  list-style-type: none;
}

.scroll-nav__item--active > a {
  //padding: 5px;
  font-weight: bold;
  //position: relative;
  
  //设置绝对位置
  /*
  position:fixed;
  right: 30px;
  bottom: 30px;
  */
  
  color: #000000;
  //background: $red;
  text-decoration: none;
  //transition: 0.5s;
  &:hover{
      color: #000000;
  }
}

.scroll-nav__link {
  color: #000000;
  text-decoration: none;
  //display: block;
  //margin: 0 auto;
  //padding-left: 42px;
}
